<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">

    <a th:href="@{/}">Home</a>

    | &nbsp;

    <a th:href="@{/accounts}">Members</a>

    | &nbsp;

    <a th:href="@{/reg}">Register</a>

    | &nbsp;

    <a th:href="@{/calc}">Calculator</a>

</div>