<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
</head>

<style>
    table th, table td {
        padding: 5px;
    }
    .message {
        color: blue;
    }
</style>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Members</h2>

<table border="1">
    <tr>
        <th>Account Name</th>
        <th>Email</th>
    </tr>
    <tr th:each ="acc : ${accounts}">
        <td th:utext="${acc.accountName}">...</td>
        <td th:utext="${acc.email}">...</td>
    </tr>
</table>

</body>
</html>