<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

    <h1>Result</h1>
    <p  th:text="'expression: ' + ${done.expression}" />
    <p  th:text="'result: ' + ${done.result}" />
    <a href="/calc">Submit another message</a>
</body>
</html>